@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8fafcde;
}

.colorList {
  min-height: calc(100vh - 160px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}
